@using DTOLayer.DTOs.UnitDTOs
@model CreateUnitDTO
@{
    ViewData["Title"] = "CreateUnit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header row no-gutters py-4">
	<div class="col-12 col-sm-4 text-center text-sm-left mb-0">
		<span class="text-uppercase page-subtitle">Yeni Birim</span>
	</div>
</div>
<div class="row">
	<div class="col">
		<div class="card card-small mb-4">
			<div class="card-header border-bottom">
				<h6 class="m-0">Birim Ekle</h6>
			</div>
			<div class="card-body pb-2">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<form method="post">
							<div class="form-group col-md-6">
								<input type="text" class="form-control" asp-for="UnitName" placeholder="Birim adını giriniz">
								<br />
								<button class="btn btn-outline-primary"> Birimi Ekle</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<a href="/Admin/Unit/Index" class="btn btn-outline-danger pl-4 pr-4">İptal</a>

