@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_StudentLayout.cshtml";
	var pendingCount = ViewBag.PendingCount != null ? ViewBag.PendingCount : 0;
	var activeCount = ViewBag.ActiveCount != null ? ViewBag.ActiveCount : 0;
	var closedCount = ViewBag.ClosedCount != null ? ViewBag.ClosedCount : 0;
}
<br />
<span class="text-uppercase page-subtitle">Ana Sayfa</span>
<br />
<br />

<div class="card card-small mb-4">
	<div class="card-header border-bottom">
		<h6 class="m-0">Taleplerim</h6>
	</div>
	<div class="card-body">
		<div class="row">
			<!-- Bekleyen Talepler Kartı -->
			<div class="col-md-4">
				<div class="card bg-warning text-white mb-3">
					<div class="card-body">
						<h5 class="card-title text-white">
							<i class="fa fa-hourglass-start"></i> Bekleyen Talepler
						</h5>
						<p class="card-text">
							@pendingCount
						</p>
					</div>
				</div>
			</div>

			<!-- Aktif Talepler Kartı -->
			<div class="col-md-4">
				<div class="card bg-primary text-white mb-3">
					<div class="card-body">
						<h5 class="card-title text-white">
							<i class="fa fa-spinner"></i> Aktif Talepler
						</h5>
						<p class="card-text">
							@activeCount
						</p>
					</div>
				</div>
			</div>

			<!-- Kapatılmış Talepler Kartı -->
			<div class="col-md-4">
				<div class="card bg-success text-white mb-3">
					<div class="card-body">
						<h5 class="card-title text-white">
							<i class="fa fa-check-circle"></i> Kapatılmış Talepler
						</h5>
						<p class="card-text">
							@closedCount
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
