
@{
    Layout = null;
}

<!doctype html>
<html class="no-js h-100" lang="tr">
@await Html.PartialAsync("/Views/RequestOfficerLayoutPartial/_RequestOfficerHeaderPartial.cshtml")

<body class="h-100">

	<div class="container-fluid">
		<div class="row">

			@await Html.PartialAsync("/Views/RequestOfficerLayoutPartial/_RequestOfficerSiderBarPartial.cshtml")


			<main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
				@await Html.PartialAsync("/Views/RequestOfficerLayoutPartial/_RequestOfficerNavbarPartial.cshtml")


				<div class="main-content-container container-fluid px-4">


					@RenderBody()

				</div>
				@await Html.PartialAsync("/Views/RequestOfficerLayoutPartial/_RequestOfficerFooterPartial.cshtml")
			</main>
		</div>
	</div>
	@await Html.PartialAsync("/Views/RequestOfficerLayoutPartial/_RequestOfficerScriptPartial.cshtml")

</body>
</html>
